header {

 	@include wrapper();
 	@include middle();
	height: 15vh;
 	
 	clear: both;

 	#logo {
 		@include col-12();
 		font-weight: bold;
 		a {
 			border: none;
 		}
 	}

 	nav[role="navigation"] {
 		@include col-10();
 		ul {
 			float: right;
 			li {
 				float: right;
 				margin-left: fnGetSpacing(50);
 				a {
 					
 					font-size: 80%;
 				}
 			}
 		}
 	}
 }

 #hero {
	@include wrapper();
	@include middle();
	height: 70vh;
 	div {
	 	text-align: left;
	 	h1 {
	 		@include animate();
	 		@include fadeInLeft();
	 		font-size: 340%;
	 	}
	 	h2 {
	 		font-weight: 300;
	 		font-size: 240%;
	 		@include animate();
	 		@include fadeInLeft();
	 		animation-delay: 300ms;
	 	}
	 	h4 {
	 		font-weight: bold;
	 		font-size: 120%;
	 	}
	 	a {
	 		@include animate();
	 		@include fadeInLeft();
	 		margin-top: fnGetSpacing(25);
	 		animation-delay: 600ms;
	 		float: left;
	 		clear: both;
	 		border: 1px solid #999;
	 		padding: fnGetSpacing(50);
	 		border-radius: 3px;
	 		&:hover {
	 			background: #000;
	 			color: #fff;
	 			border: #000;
	 		}
	 	}	
	 	#mc_embed_signup {
	 		clear: both;
	 		width: 100%;
	 		margin-top: fnGetSpacing(200);
	 		input[type="email"]{
		 		@include animate();
		 		@include fadeInLeft();
		 		animation-delay: 800ms;
	 			margin-bottom: fnGetSpacing(50);
	 			padding-bottom: fnGetSpacing(25);
	 			border: 1px solid rgba(0, 0, 0, 0);
	 			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	 			padding-left: 0;
	 			color: #666;
	 			&:focus {
	 			border: 1px solid rgba(0, 0, 0, 0);
					border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	 			}
	 			max-width: 300px;
	 			font-size: 110%;
	 		}
	 		input[type="submit"]{
	 			font-size: 100%;
	 			@include animate();
		 		@include fadeInLeft();
		 		animation-delay: 1s;
	 			margin-bottom: fnGetSpacing(50);
	 			border: 1px solid rgba(0, 0, 0, 0.1);
	 			background: #fff;
	 			width: auto;
	 			border: 1px solid rgba(0, 0, 0, 0);
	 			border-bottom: 1px solid rgba(0, 0, 0, 0);
	 			padding-left: 0;
	 			padding-right: 0;
	 			margin-right: fnGetSpacing(10);
	 			margin-top: 0;
	 			padding-top: 0;
	 			color: #666;
	 			& + span {
	 				visibility: hidden;
			 		transition: all ease 200ms;
	 				opacity: 0;
	 			}
	 			&:hover {
	 				border: 1px solid rgba(0, 0, 0, 0);
	 				color: #000;
					& + span {
		 				visibility: visible;
		 				opacity: 1;
		 				transition: all ease 200ms;
		 			}
	 			}
	 		}
	 	}
 	}

}

main {
	@include animate();
	@include fadeInUp();

	max-width: 700px;

	margin: fnGetSpacing(200) auto 0 auto;
	#title {
		margin-bottom: fnGetSpacing(50);
	}
}